@model Category
@*
   //This is a multi line comment
   this view file will think of it as new category object with default empty values no
   need to explicitely pass new category object from the action method.

   //asp-validation-for to display the error massage use this tag helper
*@

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">

                @*<div asp-validation-summary="All"></div>
                ModelOnly - only display error messages in models not related to the property
                None - display nothing
                *@

                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2"></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">
                            Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>



@*Consuming the partial view for client side validation in script section
    so that each time it doesnot reloads and request will not go to the server
    in case of invalid fields but here client side is unaware of custom validations
*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
